@media (max-width: 1200px) {
  .dropdown-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    color: black !important;
  }
  .dropdown-toggle::after {
    display: block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 992px) {
  .row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-page {
    background: none;
    text-align: center;
  }
  .main__img {
    display: inline-block;
  }
  h1 {
    font-size: 25px;
  }
  .btn-lg {
    padding: 15px 25px;
    font-size: 10px;
  }
  .main-page .col-12 {
    margin-top: 20px;
    padding-left: 10px;
  }
  .quote .container {
    padding: 20px 10px 10px 10px;
  }
  .quote p {
    font-size: 12px;
  }
  .quote .carousel-control-prev-icon {
    position: relative;
    top: 120px;
    left: 20px;
    width: 30px;
  }
  .quote .carousel-control-next-icon {
    position: relative;
    top: 120px;
    right: 30px;
    width: 30px;
  }
  .about {
    margin-top: calc(30px + (150 - 30) * (100vw - 320px)/(992 - 320));
  }
  .about .col {
    top: 0px;
    text-align: center;
  }
  .about .row {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .programms__block1 {
    margin-bottom: 20px;
  }
  .footer .eANDt {
    max-width: 350px;
  }
}

@media (max-width: 768px) {
  .programms__block1 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .programms__block1_text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 90%;
            flex: 0 1 90%;
    text-align: center;
    margin-top: 10px;
  }
  .programms__photos {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .programms__photo-1 {
    margin-top: 0;
  }
  .programms__photo-2 {
    margin-top: 30px;
  }
  .programms .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .programms .row p {
    margin-bottom: 20px;
    text-align: center;
  }
  .programms .accordion-body {
    margin: 0 !important;
    row-gap: 30px;
  }
  .programms .accordion-body div {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 50% !important;
            flex: 0 0 50% !important;
    padding: 0 !important;
    border: none !important;
  }
  .programms .accordion-body div img {
    margin-right: 0px !important;
  }
  .programms .carousel-2 {
    display: block;
  }
  .programms .flex-block {
    display: none;
  }
  .programms__last-block h5 {
    margin-bottom: 10px;
  }
  .programms__last-block ul {
    margin-top: 10px;
  }
  .programms__last-block li {
    margin-bottom: 10px;
  }
  .programms__last-block .order {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .programms__last-block .row:last-of-type {
    bottom: 0;
  }
  .results .accordion-body {
    padding: 0;
  }
  .results .accordion-body__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .results .accordion-body__per-cent p {
    width: 84px !important;
    height: 82px !important;
  }
  .results .accordion-body__block {
    padding: 5px !important;
  }
  .results .accordion-body .achievements {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .results .accordion-body .achievements div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
    width: 100% !important;
    text-align: start !important;
  }
  .results .accordion-body .achievements div img {
    width: 100px;
    -o-object-fit: contain;
       object-fit: contain;
    margin-bottom: 0 !important;
  }
  .results .accordion-body .achievements div p {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: 20px !important;
  }
  .universities__block1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .universities__block1 img {
    width: 100%;
    margin-bottom: 20px;
  }
  .universities__block1_title {
    text-align: center;
  }
  .universities__block2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 25px !important;
  }
  .stories h2 {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .cost h2 {
    font-size: 22px;
    line-height: 24px;
    margin: 30px 0 10px 0;
  }
  .cost table {
    font-size: 10px !important;
    line-height: 12px !important;
  }
  .cost th {
    padding: 6px !important;
  }
  .cost td {
    padding: 6px !important;
  }
  .cost__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .first-step {
    padding: 30px 0;
  }
  .first-step__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .first-step__left {
    margin-bottom: 0 !important;
  }
  .first-step__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .first-step__bottom a {
    margin-bottom: 22px;
  }
  .feedback__container {
    padding: 24px 14px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .feedback__container h2 {
    text-align: center !important;
    font-size: 30px !important;
    line-height: 34px !important;
  }
  .text__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 0;
  }
  .text__container div {
    text-align: center;
  }
  .text__container div p:first-of-type {
    margin-top: 40px;
  }
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 30px 15px;
  }
  .footer__container .eANDt {
    max-width: 100%;
    margin-bottom: 38px;
  }
  .footer__container .license div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__container .contacts .phone {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__container .contacts .phone img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: 10px;
  }
  .footer__container .contacts .email a {
    display: block;
  }
}

@media (max-width: 579px) {
  .about .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .order {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .about h5 {
    margin-top: 0;
  }
  .about img {
    margin-bottom: 30px;
  }
  .about .last-p {
    margin-bottom: 0;
  }
  .programms {
    top: 0px;
  }
  .cost__left {
    padding: 20px 10px;
  }
  .cost__left li {
    -webkit-box-flex: 1 !important;
        -ms-flex-positive: 1 !important;
            flex-grow: 1 !important;
  }
  .cost__right {
    padding: 20px 10px;
  }
}
/*# sourceMappingURL=media.css.map */